.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes move{
  0%,100%{transform:translateX(0px);}
  50%{transform:translateX(50px);}
}
@keyframes skew{
  0%,100%{transform:skewX(0deg);}
  50%{transform:skewX(15deg);}
}
@keyframes opacity{
  0%,100%{opacity:1}
  50%{opacity:.25;}
}
span{
  width:300px;
  height:300px;
  display:inline-block;
}
span p{padding:10px 20px;}
strong{font-weight:bold;}
.taco, .burger{
  width:50px;
  height:50px;
  margin:0 auto;
  background:#e86767c2;
}
.taco{
  animation:skew 2000ms linear infinite,
            opacity 4000ms linear infinite;
}
.burger{
  animation:move 5000ms linear infinite;
}
.cheese{
  animation:skew 2000ms linear infinite;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(252, 147, 147); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

