
.card-spacing {
  margin: 5% 30px !important;
}
.card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.card-heading {
  font-size: 25px;
  font-weight: 500;
}
.icon-size {
  height: 70px;
  width: 70px;
}
.my-services-icon-style {
  width: 100% !important;
  height: 100%;
  color: "yellow";
}
.card-color {
  &:hover {
    background-color: "yellow"!important;
    color: "yellow" !important;
  }
}
.card-color-two {
  &:hover {
    background-color: "yellow" !important;
    color: "yellow" !important;
  }
}
.skill-heading-container {
  max-height: 90px;
  overflow: scroll;
  overflow-x: hidden;
}



.top-bar-container {
  background-color: "white";
  height: 60px;
  top: 0;
  position: fixed;
  z-index: 9999;
}

.top-bar-item {
  display: flex;
  justify-content: center;
  height: 100%;
}
.mobile-top-bar-item {
  display: flex;
  justify-content: center;
  height: 100%;
  border-bottom: 0.5px solid gray;
}
.item-btn {
  height: 100%;
  width: 100%;
  color: "white";
}
.top-bar-text {
  color: "rgb(255 255 255)";
  text-shadow: 2px 3px 0px rgb(255 253 253 / 20%), 50px 0px 20px rgb(255 255 255 / 30%);
  // text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}
.top-bar-text-mobile {
  color: "white";
}
.top-bar-link {
  height: 100%;
  width: 100%;
}
.mobile-button-container {
  display: flex;
  justify-content: flex-end;
}
.mobile-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: "white";
}
.mobile-top-bar-icon {
  height: 28px;
  width: 26px;
  color: "white";
}
.mobile-top-bar-link {
  height: 50px;
  width: 100%;
}





// form 


input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 0 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 0 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.nameEmailContainer {
  display: flex;
  margin-bottom: 8px;
}
.nameContainer {
  margin-right: 20px;
  width: 50%;
}
.emailContainer {
  width: 50%;
}
textarea {
  width: 100%;
  height: 100px;
  margin-top: 8px;
  padding: 14px 20px;
}
.messageContainer {
  margin: 8px 0;
}
small {
  color: rgb(241, 0, 0) ;
}
.errorClass {
  border: 2px solid rgb(255, 0, 0)  !important;
}
.send-btn {
  background-color: rgb(245, 135, 135) !important;
  color: #ccc !important;
}
.circular-progress {
  color: rgb(255, 255, 255) !important;
}
.send-btn-container {
  margin-top: 3%;
}

.heading-color{
  display: flex;
  color: "rgb(255 255 255)" !important;
  text-shadow: 2px 3px 0px rgb(255 253 253 / 20%), 50px 0px 20px rgb(255 255 255 / 30%);
}


